server {
		listen {{ nginx_http_port }};
		listen [::]:{{ nginx_http_port }};
		server_name {{ nginx_site_domain }};

		client_max_body_size 0;
		include /etc/nginx/sites.d/{{ nginx_site_domain }}.d/*;
}
